[dev]
  framework = "#static"
  command = "eleventy --quiet --watch"
  publish = "public"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = """\
      base-uri 'self'; \
      block-all-mixed-content; \
      child-src 'none'; \
      default-src 'self'; \
      font-src 'self' https://fonts.gstatic.com; \
      form-action 'self'; \
      frame-ancestors 'none'; \
      frame-src 'none'; \
      img-src 'self'; \
      media-src 'self'; \
      object-src 'none'; \
      script-src 'self' 'unsafe-inline'; \
      style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; \
      worker-src 'none';\
    """
    Referrer-Policy = "no-referrer-when-downgrade"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "0"

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"

[[headers]]
  for = "/favicon.ico"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"
    Content-Type = "image/x-icon"

[[redirects]]
  from   = "https://spaceholder-cc.netlify.app/*"
  to     = "https://spaceholder.cc/:splat"
  status = 301
  force  = true

[[redirects]]
  from = "/i"
  to = "/"
  status = 301
  force = true

[[redirects]]
  from = "/i/*"
  to = "https://api.spaceholder.cc?transform=:splat"
  status = 200
  force = true

[[edge_functions]]
  function = "form"
  path = "/i"
