<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>SpaceHolder – A space-themed image placeholder service.</title>

  <meta name="apple-mobile-web-app-title" content="SpaceHolder">
  <meta name="application-name" content="SpaceHolder">
  <meta name="description" content="You could settle for a basic grey box to show your placeholder images or you could substitute actual photos of the most gnarly places in the universe.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:author_name" content="Jason Garber">
  <meta property="og:author_url" content="https://sixtwothree.org">
  <meta property="og:blurhash" content="LRF5my^m0KIT9ZRP$%xu8^RiyDW?">
  <meta property="og:description" content="You could settle for a basic grey box to show your placeholder images or you could substitute actual photos of the most gnarly places in the universe.">
  <meta property="og:image" content="https://spaceholder.cc/assets/images/spaceholder-1200x630.jpg">
  <meta property="og:title" content="SpaceHolder – A space-themed image placeholder service.">
  <meta property="og:url" content="https://spaceholder.cc">

  <link rel="apple-touch-icon" href="/assets/images/spaceholder-180x180.png">
  <link rel="shortcut icon" href="/assets/images/spaceholder-180x180.png">

  <link rel="stylesheet" href="/assets/stylesheets/application.css">
  <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Titillium+Web:300,900&display=swap">
</head>
<body>

  <header class="header" id="header" role="banner">
    <h1 class="logo">
      {% include "../assets/images/logo.svg" %}
    </h1>
  </header>

  <main class="content" role="main">
    {{ content }}
  </main>

  <footer class="footer" role="contentinfo">
    <p>SpaceHolder is freely available under the <a href="https://opensource.org/licenses/MIT" rel="license">MIT License</a>. Source code is available on <a href="https://github.com/jgarber623/spaceholder.cc" rel="source">GitHub</a>.</p>
  </footer>

  <script type="module">
    document.querySelector('#header').style.backgroundImage = 'url("/i/1200/400")';
  </script>

</body>
</html>
