<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>SpaceHolder</title>
</head>
<body>

	<header role="banner">
		<h1>SpaceHolder</h1>
	</header>

	<main role="main">
		<%= yield %>
	</main>

</body>
</html>