<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>SpaceHolder</title>
</head>
<body>

	<header role="banner">
		<h1>SpaceHolder</h1>
		<p>A space-themed image placeholder service.</p>
	</header>

	<main role="main">
		<%= yield %>
	</main>

	<footer role="contentinfo">
		<p>SpaceHolder is freely available under the <a href="http://opensource.org/licenses/MIT" rel="license">MIT License</a>. Source code is available on <a href="https://github.com/jgarber623/spaceholder.cc" rel="source">GitHub</a>.</p>
	</footer>

</body>
</html>