.header {
  background: no-repeat 50% 50%;
  background-size: cover;
  padding: 6.5em 3em;
}

.logo {
  font-size: 1em;
  margin: 0 auto;
  max-width: 28em;

  a {
    display: block;
  }
}

.row {
  margin: 1.5em 0 3em 0;

  @media (min-width: 48em) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.col {
  + .col {
    margin-top: 3em;
  }

  @media (min-width: 48em) {
    width: 46%;

    + .col {
      margin: 0;
    }
  }
}

.content {
  margin: 0 auto;
  max-width: 60em;
  padding: 3em 1em;

  h1,
  h2 {
    line-height: 1;
    margin: 0;
  }

  h2 {
    color: #e5e2d3;
    margin-bottom: 0.5em;
  }

  @media (min-width: 48em) {
    h1 {
      font-size: 4.5em;
    }

    h2 {
      font-size: 3em;
      margin-top: 1em;
    }
  }

  p {
    font-size: 1.25em;
    margin: 0;
  }

  em {
    font-style: normal;
    text-transform: uppercase;
  }

  pre {
    font-size: 16px;
    margin: 0;
    padding: 1em;
  }

  code {
    font-size: 1.25em;
  }
}

.form {
  label {
    cursor: pointer;
    display: block;
    margin-bottom: 0.5em;
  }

  input {
    border: 0;
    border-radius: 0.25em;
    color: #252c32;
    font-size: 1.875em;
    margin-bottom: 0.5em;
    padding: 0.25em;
    width: 100%;
  }

  button {
    background-color: #e8e4d8;
    background-image: linear-gradient(to bottom, #e8e4d8, #b9ae91);
    border: 0;
    border-radius: 0.5em;
    clear: both;
    color: #635f4d;
    display: block;
    font-size: 1.875em;
    font-weight: bold;
    margin-top: 1em;
    padding: 0.25em;
    width: 100%;

    &:focus,
    &:hover {
      background-color: #b9ae91;
      background-image: linear-gradient(to bottom, #b9ae91, #e8e4d8);
      color: #575343;
    }

    span {
      background-color: #d2ccb1;
      border-radius: 0.25em;
      display: block;
      padding: 0.25em 1em;
    }
  }
}

.form-field {
  float: left;
  padding-right: 0.5em;
  width: 50%;

  + .form-field {
    float: right;
    padding: 0 0 0 0.5em;
  }
}

.example {
  background-color: rgba(#fff, 0.25);
  border-radius: 0.25em;
  display: block;
  text-align: center;
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: rgba(#fff, 0.15);
  }
}

.footer {
  margin: 0 auto;
  max-width: 60em;
  padding: 0 1em 3em 1em;
}
