name: CI

on:
  push:
    branches-ignore: [production]
  pull_request:
    branches-ignore: [production]
  workflow_call:
    secrets:
      CC_TEST_REPORTER_ID:
        required: true
  workflow_dispatch:

jobs:
  analyze:
    name: Analyze
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: github/codeql-action/init@v2
        with:
          languages: ruby
      - uses: github/codeql-action/analyze@v2
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Run bundler-audit
        run: bundle exec bundle-audit check --update
  lint:
    name: Lint
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop --require code_scanning --format progress --format CodeScanning::SarifFormatter --out rubocop.sarif
      - uses: github/codeql-action/upload-sarif@v2
        if: ${{ always() }}
        with:
          sarif_file: rubocop.sarif
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |-
          sudo apt update
          sudo apt install libvips
      - name: Run RSpec
        run: bundle exec rspec --format RSpec::Github::Formatter
      - uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
